# Création par FPO 13/02/2012
# Modification par TSA
# 23/04/2012

# Exlusion du fichier .project généré par Aptana
.project
# on enlève les fichiers liés à codeblocks
*.depend
*.layout
# on enlève tout ce qui est lié à la compilation (on ne laisse que les sources)
/bin/
/obj/
/dbo/nbproject/private/
/build/Debug/
/dist/Debug/
/build/Release/
/dist/Release/
.dep.inc

/build/*
/dist/*
